{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "wordWrap": "on",
  "semi": true,
  "sentenceWrap": "always",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 80,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "never"
      }
    }
  ]
}
